@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* basic semantic colors  base on tailwindcss colors */
:root {
  --background: #fff;
  --foreground: var(--color-neutral-800);
  --line: var(--color-neutral-200);
  --description: var(--color-neutral-400);

  /* for neutral theme */
  --neutral: var(--color-neutral-200);
  --neutral-active: var(--color-neutral-300);
  --lattice: hsla(0, 0%, 16%, 0.3);
  /* semantic z-index */
  --loading: 60;
  --popup: 50;
  --tooltip: 40;
}

[data-theme='dark'] {
  --background: var(--color-neutral-800);
  --foreground: var(--color-neutral-50);
  --line: var(--color-neutral-700);
  --description: var(--color-neutral-500);

  /* for neutral theme of dark mode */
  --neutral: var(--color-neutral-700);
  --neutral-active: #343333;
  --lattice: hsla(0, 0%, 100%, 0.3);
}

@theme {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-line: var(--line);
  --color-description: var(--description);

  --color-primary: var(--color-blue-500);
  --color-primary-active: var(--color-blue-600);
  --color-danger: var(--color-red-500);
  --color-danger-active: var(--color-red-600);
  --color-secondary: var(--color-green-500);
  --color-secondary-active: var(--color-green-600);
  --color-warning: var(--color-orange-500);
  --color-warning-active: var(--color-orange-600);
  --color-neutral: var(--neutral);
  --color-neutral-active: var(--neutral-active);

  /* lattice gradient */
  --background-image-lattice:
    linear-gradient(45deg, var(--lattice) 25%, transparent 25%), linear-gradient(-45deg, var(--lattice) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--lattice) 75%),
    linear-gradient(-45deg, transparent 75%, var(--lattice) 75%);
}

body {
  color: var(--foreground);
  background-color: var(--background);
}
