@import 'tailwindcss';
@import '../components/ui/styles/theme.css';
@import '../components/ui/styles/animation.css';

@utility main-container {
  flex: 1;
  width: 90%;
  @media (width >= 80rem /* 1280px */) {
    max-width: 54vw;
  }
}

.diagnoal {
  background-image: repeating-linear-gradient(-45deg, #e0e0e0, #e0e0e0 1px, #fefefe 1px, #fefefe 14px);
}
[data-theme='dark'] .diagnoal {
  background-image: repeating-linear-gradient(-45deg, #4a4a4a, #4a4a4a 1px, rgb(61 61 61 / 50%) 1px, rgb(61 61 61 / 50%) 14px);
}
